* {
    margin: 0;
    border: 0;
    padding:0;
    font-family: "Arial, sans-serif";
  }
  

header {
    margin: 10px;
}


#header-google {
    text-decoration: none;
}


nav ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    align-items: center;
    margin-top: 5px;
}
  
  
nav ul li, a {
    margin-right: 3px;
}


.icons, .switch-tabs {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}


#first-title {
    color: red;
    font-size: 20px;
    font-style: inherit;
}


hr {
    border: 0.5px solid gainsboro;
    padding: 0;
}


#form-container {
    width: 75vw;
}
  
section{
    padding: 20px;
}

h3{
    color: red;
    padding-left: 0;
}




#submission-grid {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-auto-rows: 50px;
    padding: 10px;
    font-style: inherit;
    font-weight: inherit;
    font-size: 100%;


}

#submission-grid > * {
    padding: 10px;
    margin: 5px;
}


.right-label {
    font-size: 0.8rem;
}
  
.middle-label {
    width: 100%;

}


.submit-input {
    border: 1px solid lightgray;
    width: 95%;
    height: 100%;
}

.search_tabs {
    background-color: #4d90fe;
    border-radius: 2px;
    padding: 10px;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}


#buttons-tabs {
    gap: 10px;

}


#disclaimer {
    text-decoration: none;
}







  footer {
    background-color: #f5f5f5;
    position:fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  footer > div{
    border: 2px solid #e9e9e9;
    padding: 15px;
    border-bottom: 0;
  }
  
  footer div ul {
    display: flex;
    list-style-type: none;
  }
  
  
  footer div ul li {
    padding-right: 15px;
  }
  
  
  .footer_links:hover {
    text-decoration: underline;
  }
  
  
  #bottom_footer_div {
    display: inline-flex;
    justify-content: space-between;
    width: 99%;
  }
  
  
  #bottom_footer_div > * {
    flex-basis: 33%;
  }